<section data-ng-controller="PlayController" data-ng-init="init()">
  <div id="player">
    <audio controls id="audio-player" autoplay></audio>
  </div>
  <ul class="songs unstyled">
    <li data-ng-repeat="song in songs">
      <span>{{song.created | date:'medium'}}</span> /
      <span>{{song.user.name}}</span>
      <h2><a data-ng-href="#!/songs/{{song._id}}">{{song.title}}</a></h2>
      <div>{{song.content}}</div>
    </li>
  </ul>
  <h1 data-ng-hide="!songs || songs.length">No songs yet. <br> Why don't you <a href="/#!/songs/create">Create One</a>?</h1>
</section>